.button3,.button4{
  width: 200px;
  padding:14px;
}

.lms-left{
  float: left;
}
.lms-right{
  float: right;
}

.overflow{
  overflow: auto;
}

.list-dots{
  padding-left:40px;
  
}
#feat-adv .button3 ,#feat-adv .button4{
  width:240px;
}

/* li::marker{
  font-size: 30px;
} */

#how-works-section .lms-right .icon {
  width:70px;
  height: 70px;
}

#how-works-section .col4{
  justify-content: center;
}



@media (max-width:992px){
  .lms-right{
    padding-left: 0;
  }
}